* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img#logo-img {
  max-width: 6rem;
  width: 100%;
  border-radius: 100px;
}

header {
  background-color: #333333;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
}
#logo {
  font-family: "grenze", serif;
  font-size: 3rem;
  font-weight: 400;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 90px;
}

.nav-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s ease;
  font-size: 1.2rem;
  font-weight: 500;
}

a:hover {
  color: white;
  transition: color 0.3s ease;
}
